
//============ Настройки сетки ============ 
// ширина основного враппера                                     
$wrapper-width: 700px;                                                          

//количество колонок                     
$column: 12;    

// поля сйта                       
$fields: 5px; 

// межколоночник (number)
$ofset: 10px; 

// Перевести межколоночник в % (bool)
$ofset-percent: false;

// Единица измерения в медиа запросе (string)
$media-unit: "px";

// Преречислять селекторы с одинаковыми стилями  через запяую (bool) (!!! В разработке, не использовать)
$combine-selectors: false;

// базовый размер шрифта (number)
$base-font-size: 16px;

// тип сетки  Доступные типы сеток: "flex", "inline-block".
$grid: 'flex';





